@media only screen and (min-width: 32.5em){
    header {
        margin-bottom: 10px;
        grid-template-columns: .5fr 1fr ;
        grid-template-rows: 1fr;
    }
    
    header img {
        margin-left: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 75%;
    }
    
    h1 {
        font-size: 350%;
        margin: auto;
        margin-left: 40px;
    }

    main {
        padding-left: 20px;
    }
}