body {font-family: 'Roboto', sans-serif;
    max-width: 520px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(230, 223, 223);
}

header {
    background: rgb(84, 96, 102);
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(32, 32, 32);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-gap: 7px;
}

header img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

h1 {
    font-size: 175%;
    margin: auto;
    margin-top: -12px;
    color: rgb(230, 223, 223);
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}

main {font-family: 'Roboto', sans-serif;
    max-width: 480px;
    padding-left: 7px;
    text-align: center;
}

h2 {
    font-size: xx-large;
    text-shadow: 0px 0px 32px rgb(32, 32, 32);
    border-bottom: 1px solid gray;
    display: inline-block;
}

.menu {
    text-align: center;
    text-align: left;
    display: inline-block;
}

.menu a:link {
    text-decoration: none;
    color: blue;
}

.someText {
    font-style: italic;
    border-top: 1px solid gray;
    border-bottom: 0px;
    display: inline-block;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: larger;
    color: rgb(230, 223, 223);
    background: rgb(84, 96, 102);
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
    padding: 5px 0px 5px 0px;
}

.lastUpdated {
    margin-top: -12px;
    text-align: center;
    font-size: small;
    color: rgb(211, 211, 128);
}