@media only screen and (min-width: 55em){
    h1 {
        font-size: 350%;
    }

    h2 {
        font-size: 250%;
    }

    .link {
        font-size: large;
    }

    footer {
        font-size: x-large;
    }
    
    .lastUpdated {
        font-size: large;
    }
}