@media only screen and (min-width: 32.5em){
    header {
        flex-flow: row;
        display: block;
    }

    h1 {
        font-size: 250%;
    }

    h2 {
        font-size: 170%;
    }

    .link {
        padding: 5px 15px 5px 15px;
    }

    footer {
        margin-top: 0px;
    }
}