body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background: rgb(230, 223, 223);
}

header {
    text-align: center;
    padding-top: 10px;
    background: rgb(84, 96, 102);
    border-radius: 7px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

h1 {
    align-items: center;
    font-size: 175%;
    margin: auto;
    color: rgb(230, 223, 223);
    display: block;
}

h2 {
    font-size: 115%;
    margin: auto;
    color: #063970;
    display: block;
}

h3 {
    text-align: left;
    font-size: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #063970;
}

.link {
    text-align: center;
    font-size: medium;
    margin: auto;
    margin: 10px 0px 10px 0px;
    background: rgb(0, 59, 88);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    display: inline-block;
}

.link a:link {
    text-decoration: none;
    color: rgb(230, 223, 223);
}

.link a:visited {
    color: rgb(230, 223, 223);
}

main {
    margin: 25px;
    text-align: center;
    }

.name {
    font-size: x-large;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: -10px;
}

a {
    text-decoration: none;
}

img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    margin: auto;
    text-align: left;
}


p {
    text-align: left;
    font-size: large;
    margin: auto;
}

.attenuation {
    text-align: center;
}

.colors {
    margin: auto;
    color: black;
}

.color1 {
    background: #063970;
    color: white;
}

.color2 {
    background: #8A0609;
    color: white;
}

.color3 {
    background: #4A2122;
    color: white;
}

.color4 {
    background: #000000;
    color: white;
}

.color5 {
    background: #FFFFFF
}

footer {
    text-align: center;
    font-size: large;
    color: rgb(230, 223, 223);
    background: rgb(84, 96, 102);
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
    border-radius: 7px;
}

.pfooter {
    text-align: center;
}

.lastUpdated {
    margin-top: 7px;
    text-align: center;
    font-size: medium;
    color: rgb(230, 223, 223);
}