body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3px;
}

header img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

h1 {
    font-size: 175%;
}

nav {
	margin: auto;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
	padding: 7px;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: white;
	background-color: #8A0609;
}

.responsive li {
	display: block;
}

.linkedin img{
    width: 30px;
}

.facebook img{
    width: 30px;
}

.date {
    text-align: center;
    color: #FFFFFF;
    background-color: #8A0609;
    grid-column: 1/3;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    grid-template-areas:
        "hero"
        "event"
        "weather"
        "news"
        "spotlight1"
        "spotlight2";
}

main section {
    margin: 3px;
    padding: 10px;
    background-color: #063970;
    color: #FFFFFF;
}

.links {
    display: flex;
    list-style: none;
    align-content: center;
}

li {
    padding-right: 10px;
}

button {
    color: #FFFFFF;
    background-color: #8A0609;
    border-radius: 10px;
}

.hero {
    box-shadow: 5px 5px 5px black;
    grid-area: hero;
    background-image: url("../images/nature_park.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
}

.event {
    box-shadow: 5px 5px 5px black;
    grid-area: event;
    text-align: center;
}

.weather {
    box-shadow: 5px 5px 5px black;
    grid-area: weather;
    text-align: center;
}

.news {
    box-shadow: 5px 5px 5px black;
    grid-area: news;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #FFFFFF;
}

.lorem {
    text-align: left;
    font-size: initial;
    color: #FFFFFF;;
}

.spotlights {
    box-shadow: 5px 5px 5px black;
}

.spotlight1 {
    box-shadow: 5px 5px 5px black;
    grid-area: spotlight1;
    text-align: center;
    background-color: #4A2122;
}

.spotlight2 {
    box-shadow: 5px 5px 5px black;
    grid-area: spotlight2;
    text-align: center;
    background-color: #4A2122;
}

.spotlight3 {
    box-shadow: 5px 5px 5px black;
    display: none;
}

.join {
    box-shadow: 5px 5px 5px black;
    display: none;
}

footer {
    align-content: center;
    text-align: center;
}

footer img {
    margin-top: 10px;
    float: center;
    align-items: center;
    width: 160px;
}

footer a {
    text-decoration: none;
}

.lastUpdated {
    margin-top: -10px;
    text-align: center;
}