@media only screen and (min-width: 32.5em){
    header {
        margin-bottom: 10px;
        grid-template-columns: .5fr 1fr ;
        grid-template-rows: 1fr;
    }
    
    h1 {
        font-size: 350%;
        margin: auto;
        margin-left: 40px;
    }

    .navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

    .linkedin img{
        width: 50px;
    }
    
    .facebook img{
        width: 50px;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "hero hero"
        "news news"
        "spotlights spotlights"
        "join join"
        "event weather";
    }

    .hero {
        text-align: left;
    }

    .spotlight1 {
        flex-grow: 1;
    }

    .spotlight2 {
        flex-grow: 1;
    }

    .spotlights {
        grid-area: spotlights;
        display: flex;
        flex-direction: row;
    }

    .join {
        grid-area: join;
        display: inline;
        text-align: center;
    }
}